<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-sm-10">
                <h3><strong>{{ticket.fullName}}'s Ticket</strong></h3>
            </div>
            <div class="col-sm-2">
                {{#if ticket.status}}
                <button class="btn btn-success float-md-right float-sm-none">CLOSED</button>
                {{else}}
                <button class="btn btn-danger float-md-right float-sm-none">OPEN</button>
                {{/if}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h5><strong>Student:</strong> {{ticket.studentFullName}}</h5>
                <h5><strong>Email:</strong> <a href="mailto:{{ticket.email}}">{{ticket.email}}</a></h5>
                <h5><strong>Phone:</strong> {{ticket.phoneNumber}}</h5>
                <h5><strong>School:</strong> {{ticket.school}}</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h5><strong>Issue Description:</strong></h5>
                <p>{{ticket.issueDescription}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">COMMENT</button>
                {{#if ticket.status}}
                <button class="btn btn-danger float-right">RE-OPEN TICKET</button>
                {{else}}
                <button class="btn btn-success float-right">CLOSE TICKET</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<br>